@import '../../styles/variables.scss';

.posts-wrapper {
    box-sizing: border-box;
    margin: 20px 0;
    max-width: 1280px;
    width: 100%;
    height: auto;
    min-height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.post-container {
    box-sizing: border-box;

    width: 100%;
    height: auto;
    min-height: 500px;
    background-color: $white-color;
    border-radius: 6px;
    border: 1.5px solid #efefef;
}
