@import '../../styles/variables.scss';

.filter {
    box-sizing: border-box;
    max-width: 1280px;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: $white-color;
    border-radius: 6px;
    border: 1.5px solid #efefef;

    display: flex;
    align-items: center;
    justify-content: center;

    .filter__inner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .filter__filter-title {
            box-sizing: border-box;
            padding: 10px;
            width: 100%;
            height: auto;
            border-bottom: 1.5px solid #efefef;
            span {
                font-size: 18px;
                font-weight: 500;
                color: $soft-black;
            }
        }
        .filter__filters {
            margin-top: 20px;
            width: 100%;
            padding: 10px;
            height: auto;
        }
    }
}

.reading-time-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 700px;
    width: 100%;
    margin-left: 5px;
    margin-right: 20px;
    justify-content: space-between;
}

.filter-button {
    @media screen and (max-width: $m-sm) {
        max-width: 700px;
        width: 100%;
    }
}
