@import '../../styles/variables.scss';

.post-container {
    box-sizing: border-box;
    width: 100%;
    height: auto;

    margin-bottom: 10px;
    background-color: $white-color;
    border-radius: 6px;
    border: 1.5px solid #efefef;

    display: flex;
    align-items: start;
    justify-content: center;

    .post__inner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        .post__post-title {
            box-sizing: border-box;
            padding: 20px;
            width: 100%;
            height: auto;
            border-bottom: 1.5px solid #efefef;
            .post-title__info {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                box-sizing: border-box;
                span {
                    font-size: 14px;
                    font-weight: 500;
                    color: $hint-color;
                    margin: 0;
                    padding: 0;
                }
            }
            .post-title__name {
                color: $soft-black;
                margin: 0;
                margin-top: 20px;
            }
        }

        .post__post-content {
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            align-items: center;

            width: 100%;
            padding: 0;
            height: auto;

            .post__post-image-wrapper {
                box-sizing: border-box;
                width: 100%;
                height: auto;
                margin-bottom: 20px;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                .post__post-image {
                    height: auto;
                    width: 100%;
                }
            }
            .post__post-description {
                width: 100%;
                padding: 0 20px;
                box-sizing: border-box;
                min-height: 70px;
                height: auto;
                word-break: break-all;
            }
            .post__post-info {
                display: flex;
                flex-direction: column;
                align-items: start;
                width: 100%;
                height: auto;
                padding: 10px;
                .post__tags-wrapper {
                    width: 100%;
                    height: auto;
                    box-sizing: border-box;
                    padding: 8px 0;
                    color: #4f93e1;
                }
                .post__post-reading-time {
                    width: 100%;
                    height: 30px;
                    padding: 0 20px;
                    color: $hint-color;
                }
            }
        }
        .post__post-footer {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: auto;
            padding: 8px 10px;
            border-top: 1.5px solid #efefef;
            .post__comment-count {
                display: flex;
                flex-direction: row;
                align-items: start;
                padding: 0 10px;
            }
            .post__like-count {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0 10px;
            }
        }
    }
}
